/*菜单栏被选中项背景色*/
.aw-side .active, .aw-side ul li a.active:hover {
    background-color: #2b77a8;
}

/*鼠标移动到菜单栏显示和隐藏切换按钮上样式*/
.mod-head-btn {
    cursor: pointer;
}

/*右下角添加分类/平台/账号/密码按钮*/
.add-btn {
    position: fixed;
    right: 20px;
    bottom: 30px;
    background-color: #393D49;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    cursor: pointer;
}
.add-btn img {
    width: 25px;
    height: 25px;
}
.add-btn:hover {
    opacity: 0.8;
}

.layui-table {
    margin-bottom: 100px !important;
}