<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .layui-field-title {
        border: none;
    }

    .layui-field-title legend {
        margin-left: 0;
    }

    .layui-table {
        background-color: transparent;
    }

    .sub-title {
        font-size: 12px;
        color: #cccccc;
    }

    .layui-table thead th{
        font-weight: bold;
        font-size: 16px;
    }

    .list-ul li {
        float: left;
        height: 30px;
        line-height: 30px;
        margin: 5px;
        background-color: #cccccc;
        padding: 0 5px;
    }
</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        $("#server_info").addClass("active");
        $(".add-btn").css("display","none");

        // 获取内存使用详情
        loadMemoryUsed();
    });
    
    // 获取内存使用详情
    function loadMemoryUsed() {
        var url = baseUrl + "?m=admin&c=API_ServerInfo&a=getServerMemoryUsage&API=";
        console.log("获取内存使用详情:" + url);
        showHud();
        get(url,function (data) {
            // 创建内存使用信息列表
            createMemoryUsedTableDom(data.data);
        },false);
    }

    // 创建内存使用信息列表
    function createMemoryUsedTableDom(data) {
        var dom = '<tr>';
        dom += '<td>memory</td>';
        dom += '<td>' + data["memoryUsed"] + "</td>";
        dom += '<td>' + data["memoryPersent"] + "</td></tr>";
        dom += "<tr><td>swap</td>";
        dom += '<td>' + data["swapUsed"] + "</td>";
        dom += '<td>' + data["swapPersent"] + "</td></tr>";

        $("#memory_used_table tbody").html(dom);

        // 服务器性能测试
        // loadPerformResult();
    }
    
    // 服务器性能测试
    function loadPerformResult() {
        var url = baseUrl + "?m=admin&c=API_PhpNeedle&a=loadPerformResult&API=";
        get(url,function (data) {
            createServerPerform(data.data);
        },false);
    }

    // 创建服务器性能测试列表
    function createServerPerform(data) {
        var dataList = [{
            "s" : "MKDuse的机子(P4 1.5G 256DDR winxp sp2)",
            "i" : "465.08ms",
            "f" : "466.66ms"
        },{
            "s" : "当前服务器",
            "i" : data["i"],
            "f" : data["f"]
        }];

        var dom = "";
        for(var i = 0; i < dataList.length; i++){
            var d = dataList[i];
            dom += '<tr>';
            dom += '<td>' + d["s"] + '</td>';
            dom += '<td>' + d["i"] + '</td>';
            dom += '<td>' + d["f"] + '</td></tr>';
        }
        $("#server_perform_table tbody").html(dom);

        // 加载所有扩展
        loadExtensionList();
    }

    // 加载所有扩展
    function loadExtensionList() {
        var url = baseUrl + "?m=admin&c=API_PhpNeedle&a=loadExtensionList&API=";
        console.log("加载所有扩展:" + url);
        get(url,function (data) {
            // 创建带宽测试信息
            createExtensionListDom(data.data);
        },false);
    }
    
    // 创建扩展列表
    function createExtensionListDom(data) {
        var dom = '';
        for(var i = 0; i < data.length; i++){
            var d = data[i];
            dom += '<li>' + d + '</li>';
        }
        $("#extension_ul").html(dom);

        // 加载禁用函数列表
        loadDisableFuncList();
    }
    
    // 加载禁用函数列表
    function loadDisableFuncList() {
        var url = baseUrl + "?m=admin&c=API_PhpNeedle&a=loadDisableFuncList&API=";
        console.log("加载禁用函数:" + url);
        get(url,function (data) {
            // 创建带宽测试信息
            createDisableFuncListDom(data.data);
        },false);
    }

    // 创建禁用函数列表
    function createDisableFuncListDom(data) {
        var dom = '';
        for(var i = 0; i < data.length; i++){
            var d = data[i];
            dom += '<li>' + d + '</li>';
        }
        $("#disable_func_ul").html(dom);

        setTimeout(function () {
            hideHud();
        },20);
    }

</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>内存使用</legend>
    </fieldset>
    <div class="layui-form">
        <table class="layui-table" id="memory_used_table" lay-skin="nob">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
            </colgroup>
            <tbody>
            </tbody>
        </table>
    </div>

    <fieldset class="layui-elem-field layui-field-title">
        <legend>cpu使用</legend>
    </fieldset>
    <div class="layui-form">
        <table class="layui-table" id="cpu_used_table" lay-skin="nob">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
            </colgroup>
            <tbody>
            </tbody>
        </table>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>服务器性能测试</legend>
    </fieldset>
    <div class="layui-form">
        <table class="layui-table" id="server_perform_table" lay-skin="nob">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
            </colgroup>
            <thead>
            <tr>
                <th>服务器</th>
                <th>整数运算<span class="sub-title">50万次加法(1+1)</span></th>
                <th>浮点数运算<span class="sub-title">50万次平方根(3.14开方)</span></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>已加载的扩展库</legend>
    </fieldset>
    <div class="layui-form">
        <table class="layui-table" id="extension_lib_table" lay-skin="nob">
            <tbody>
            <tr>
                <td>
                    <ul class="list-ul" id="extension_ul">

                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>禁用的函数</legend>
    </fieldset>
    <div class="layui-form">
        <table class="layui-table" id="disable_func_table" lay-skin="nob">
            <tbody>
            <tr>
                <td>
                    <ul class="list-ul" id="disable_func_ul">

                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<{/block}>
