<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .aw-content-wrap .icon{
        background-color: #393D49;
        margin-right: 10px;
    }

    .aw-content-wrap .iconfont {
        color: #FFF;
        background-color: #393D49;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin-right: 10px;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
    }

    .layui-table thead th{
        text-align: center;
        font-weight: bold;
    }

    .layui-btn-primary {
        background-color: #393D49;
        color: #fff;
    }

    .layui-btn-primary:hover{
        color: #FFF;
    }

    .notice-box {
        width: 400px;
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        font-weight: 300;
        display: inline-block;
        color: red;
        overflow: hidden;
        vertical-align: middle;
    }

    .notice-box span {
        display: inline-block;
        width: 100%;
        height: 20px;
        margin-top: 10px;
    }

    form {
        margin-top: 20px;
    }

    .layui-form-select dl dd.layui-this {
        background-color: #393D49;
    }

    .layui-form-select {
        width: 140px;
    }

    .layui-form-item .layui-input-inline{
        width: 140px;
    }

    /*右下角查看日志按钮*/
    .open-log-btn {
        position: fixed;
        right: 20px;
        bottom: 30px;
        background-color: #393D49;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        border-color: transparent;
        cursor: pointer;
    }
    .open-log-btn i {
        width: 25px;
        height: 25px;
        display: inline-block;
        font-size: 25px;
        color: #ffffff;
        background-color: #393D49;
    }
    .open-log-btn:hover {
        opacity: 0.8;
    }

</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    // 当前选择表
    var selectedTableName = "";
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        $("#db_manager").addClass("active");
        $(".add-btn").css("display","none");

        var msg = $("#msg_input").val();
        if (msg.length > 0){
            toast(msg);
        }

        // 传进来的表名
        selectedTableName = $("#select_tb_name").val();
        $("#tb_name_input").val(selectedTableName);

        // 监听文件被选择
        $('#file_select_input').change(function(e){
            var form = $("#upload_back_form");
            form.submit();
        });

        // 监听select选择变化
        layui.use('form',function () {
            var form = layui.form;

            // 监听选择数据表
            form.on('select(table-data-filter)', function(data){
                // 选择的表名
                selectedTableName = data.value;
                $("#tb_name_input").val(selectedTableName);

                // 刷新备份历史列表
                loadDbBackupLists();
            });
        });

        // 请求数据库列表
        loadDbList();
        // 请求数据表
        loadTableList();
        // 获取备份历史文件
        loadDbBackupLists();
    });

    // 请求数据库列表
    function loadDbList() {
        var url = baseUrl + "?m=admin&c=API_Database&a=loadAllDatabase&API=";
        console.log("获取数据库列表:" + url);
        get(url,function (data) {
            var listDb = data.data.list;
            var currentDb = data.data.currentDb;
            layui.use('form',function () {
                var form = layui.form;
                var dom = '';
                for (var i = 0; i < listDb.length; i++){
                    var dbName = listDb[i];
                    if (dbName == currentDb){
                        dom += '<option selected="selected" value="'+ dbName +'">'+ dbName +'</option>';
                    }else{
                        dom += '<option disabled="" value="'+ dbName +'">'+ dbName +'</option>';
                    }
                }
                $("#db_select").html(dom);
                form.render();
            });
        },false);
    }

    // 请求数据表
    function loadTableList() {
        var url = baseUrl + "?m=admin&c=API_Database&a=loadTableList&API=";
        get(url,function (data) {
            // 创建备份历史列表
            var tableLists = data.data;

            layui.use('form',function () {
                var form = layui.form;
                var dom = '<option value="">请选择表</option>';
                for (var i = 0; i < tableLists.length; i++){
                    var tableData = tableLists[i];
                    var tableName = tableData["tableName"];
                    var tableComment = tableData["comment"];
                    if (tableName == selectedTableName){
                        dom += '<option selected="selected" value="'+ tableName +'">'+ tableComment +'</option>';
                    }else{
                        dom += '<option value="'+ tableName +'">'+ tableComment +'</option>';
                    }
                }
                $("#table_select").html(dom);
                form.render();
            });
        },false);
    }

    // 获取备份历史文件
    function loadDbBackupLists() {
        var url = baseUrl + "?m=admin&c=API_Database&a=loadDbBackupHistory&API=&tbName=" + selectedTableName;
        get(url,function (data) {
            // 创建备份历史列表
            createBackupListDom(data.data);
        });
    }

    // 创建备份文件列表
    function createBackupListDom(data) {
        var dom = "";
        for(var i = 0; i < data.length; i++){
            var backupData = data[i];
            dom += '<tr><td>'+ backupData["name"] +'</td>';
            dom += '<td>' + backupData["size"] + '</td>';
            dom += '<td>' + backupData["time"] + '</td>';
            dom += '<td><i title="导入" onclick="importBackup(this)" backName="'+ backupData["name"] +'" style="cursor: pointer" class="iconfont icon-daoru"></i>';
            dom += '<i title="下载" backName="'+ backupData["name"] +'" onclick="downloadBackup(this)" style="cursor: pointer" class="icon icon-download"></i>';
            dom += '<i title="删除" backName="'+ backupData["name"] +'" onclick="deleteBackup(this)" style="cursor: pointer" class="icon icon-trash"></i></td>';
        }

        // 添加分类一行
        $("tbody").html(dom);
    }

    // 删除备份
    function deleteBackup(obj) {
        var $this = $(obj);
        var backName = $this.attr("backName");
        var url = baseUrl + "?m=admin&c=API_Database&a=deleteBackup&fileName=" + backName + "&API=&tbName=" + selectedTableName;
        get(url,function () {
            // 刷新列表
            loadDbBackupLists();
        },true,true);
    }

    // 导入备份
    function importBackup(obj) {
        // 确认提示
        confirmAlert(function () {
            var $this = $(obj);
            var backName = $this.attr("backName");

            // 请求指定分类数据
            var url = baseUrl + "?m=admin&c=API_Database&a=importBackup&fileName=" + backName + "&API=&tbName=" + selectedTableName;
            get(url,function () {
                // 导入完成
            },true,true);
        },"确认导入吗？这将覆盖原有数据库数据");
    }

    // 备份当前数据库
    function backupCurrentDB() {
        backupDb("0");
    }
    
    // 备份所有数据库
    function backupAllDB() {
        backupDb("1");
    }

    // 备份数据库
    function backupDb(all) {
        var url = baseUrl + "?m=admin&c=API_Database&a=backupDB&API=&tbName=" + selectedTableName + "&backupAll=" + all;
        console.log("备份数据库:" + url);
        get(url,function () {
            // 备份完成 刷新备份历史列表
            loadDbBackupLists();
        },true,true,50000);
    }

    // 上传备份文件
    function uploadBackupDB() {
        $("#file_select_input").click();
    }

    // 下载备份
    function downloadBackup(obj) {
        var $this = $(obj);
        var backName = $this.attr("backName");
        var dirName = selectedTableName.length > 0 ? selectedTableName : "all";
        var url = "http://cloudmount.yycode.ml/GDSuite/我的数据/备份数据/db/" + $("#db_name").val() + "/" + dirName + "/" + backName;
        var $eleForm = $("<form method='get'></form>");
        $eleForm.attr("action",url);
        $(document.body).append($eleForm);
        //提交表单，实现下载
        $eleForm.submit();
    }

</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <input id="msg_input" type="hidden" value="<{$data.msg}>">
    <input id="select_tb_name" type="hidden" value="<{$data.tbName}>">
    <button onclick="backupCurrentDB()" type="button" class="layui-btn layui-btn-primary layui-btn-lg">新增备份</button>
    <button onclick="backupAllDB()" type="button" class="layui-btn layui-btn-primary layui-btn-lg">备份所有数据库</button>
    <button onclick="uploadBackupDB()" type="button" class="layui-btn layui-btn-primary layui-btn-lg">上传备份</button>
    <div class="notice-box">
        <span id="notice_area" class="notice-area">警告:导入数据库会覆盖原有数据库数据，请谨慎操作</span>
    </div>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">当前数据库</label>
            <div class="layui-input-inline">
                <select id="db_select" lay-filter="db-data-filter">
                    <option value="">请选择</option>
                </select>
            </div>
            <label class="layui-form-label">当前数据表</label>
            <div class="layui-input-inline">
                <select id="table_select" lay-filter="table-data-filter">
                    <option value="">请选择表</option>
                </select>
            </div>
        </div>
    </form>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;width: 100%">
        <legend>备份历史</legend>
    </fieldset>
    <div class="mod">
        <div class="layui-form" style="text-align: center;">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>文件大小</th>
                    <th>备份时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <form id="upload_back_form" enctype="multipart/form-data" method="post" action="<{$data.baseUrl}>?m=admin&c=API_Database&a=uploadBackup">
        <input type="file" name="file" id="file_select_input" style="display:none">
        <input type="text" name="tbName" id="tb_name_input" style="display:none">
    </form>
</div>

<!--查看日志按钮-->
<button type="button" class="open-log-btn" onclick="checkLog()">
    <i title="查看日志" class="iconfont icon-jurassic_log"></i>
</button>

<!--日志信息展示浮层弹窗-->
<div class="log-container">
    <fieldset class="layui-elem-field layui-field-title log-title" style="margin-top: 20px;">
        <legend>
            后台任务日志
            <i style="display: inline-block;width: 30px;height: 30px;font-size: 20px;color: #8a8a8a;cursor:pointer;" onclick="refreshLog()" title="刷新" class="iconfont icon-shuaxin1"></i>
            <i style="display: inline-block;width: 30px;height: 30px;font-size: 20px;color: #8a8a8a;cursor:pointer;" onclick="clearLog()" title="清空" class="iconfont icon-qingkong"></i>
        </legend>
    </fieldset>


    <!--日志显示区域-->
    <div class="log-box"></div>
    <div id="timer" style="display: none"></div>
</div>

<input type="hidden" id="db_name" value="<{$data.dbname}>">
<{/block}>
