<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .loading-cover {
        margin-left: 70px;
    }
</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        var catId  = $("#cat_id").val();
        $("#cat_"+catId).addClass("active");

        loadPlatformLists();
    });

    // 请求平台数据
    function loadPlatformLists() {
        var catId  = $("#cat_id").val();
        var url = baseUrl + "?m=home&c=API_Common&a=loadHomeAccountLists&API=&id=" + catId;
        console.log("获取平台列表:" + url);
        $(".loading-cover").css("display","block");
        get(url,function (data) {
            $(".loading-cover").css("display","none");

            var platLists = data.data["platform_list"];
            // 创建卡片列表
            if (platLists instanceof  Array){
                createCards(platLists);
            }
        },false);
    }

    // 创建卡片
    function createCards(platformLists) {
        var dom = "";
        for (var i = 0; i < platformLists.length; i++){
            var platformData = platformLists[i];
            var platName = platformData["plat_name"];
            var accLists = platformData["web_list"];
            dom += '<div class="platform-container">';
            dom += '<h4 class="text-gray" style="display: inline-block;">';
            dom += '<i class="iconfont icon-tag" id=""></i><span class="plat-name">'+ platName + '</span></h4>';
            dom += '<div class="row">';
            for (var j = 0; j < accLists.length; j++){
                var accData = accLists[j];
                var accId = accData["id"];
                var accLogo = accData["logo"];
                var accDesc = accData["web_desc"];
                var accUserName = accData["web_title"];
                var accAddress = accData["address"];
                dom += '<div class="card-content">';
                dom += '<a href="'+ accAddress +'"  target="_blank" class="card-link" >';
                dom += '<img class="card-logo" src="'+ accLogo +'">';
                dom += '<div class="text-content"><div class="card-title"><strong>' + accUserName + '</strong>';
                dom += '</div><input id="acc_user_'+ accId +'" style="width: 240px" type="text" class="user-name" value="'+ accDesc +'" readonly="readonly">';
                dom += '</div></a></div>';
            }
            dom += '</div></div>';
        }
        $(".cards-container").html(dom);
    }

</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <input type="hidden" value="<{$data.catId}>" id="cat_id">
    <div class="cards-container">

    </div>

    <!--等待加载loading-->
    <div class="mod">
        <div class="loading-cover">
            <img style="width: 60px;height: 60px;background-color: transparent" src="/public/common/img/loading.gif">
        </div>
    </div>
</div>

<{/block}>
