<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <{block name="title"}>
        <title>账号管家后台管理系统</title>
    <{/block}>

    <link rel="stylesheet" href="<{PUBLIC_PATH}>common/css/icon.css" type="text/css">
    <link rel="stylesheet" href="<{PUBLIC_PATH}>common/layui/css/layui.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1877015_iktc5tvkpxm.css" type="text/css" >
    <link rel="stylesheet" href="<{PUBLIC_PATH}>common/css/common.css" type="text/css">
    <link rel="stylesheet" href="<{PUBLIC_PATH}>admin/css/common.css">
    <{block name="myStyles"}> <{/block}>
</head>

<body>
<!--网络请求baseUrl-->
<input id="base_url" type="hidden" value="<{$data.baseUrl}>">
<!--图片baseUrl-->
<input id="image_base_url" type="hidden" value="<{$data.imageUrl}>">

<!--侧边栏-->
<div id="as_float_menu" class="as-float-menu">
    <button class="btn btn-sm mod-head-btn pull-left" style="padding: 0px; width: 50px; border-right:0">
        <i class="icon icon-bar"></i>
    </button>
</div>
<{if $data.slideBarState eq 0}>
<div id="aw-side" class="aw-side ps-container">
    <div class="mod">
        <div class="mod-logo" style="padding: 0">
            <div class="as-menu" style="width: 50px;height: 50px; float: left; margin: 0">
                <button class="btn btn-sm mod-head-btn pull-left" style="padding: 0px; width: 50px; border-right:0">
                    <i class="icon icon-bar"></i>
                </button>
            </div>
            <div style="font:20px 'microsoft yahei';color: white;height: 55px;line-height: 55px;padding-left: 30px">账号管家后台系统</div>
        </div>

        <div class="mod-message">
            <div class="message">
                <a title="首页" target="_blank" href="?m=home&c=Common&a=index" class="btn btn-sm">
                    <i title="前台" class="iconfont icon-home" onclick="window.location='index.php'"></i>
                </a>

                <a title="退出" href="?m=admin&c=API_Base&a=logOut&API=" class="btn btn-sm">
                    <i title="注销" class="icon icon-logout"></i>
                </a>
            </div>
        </div>

        <ul class="mod-bar">
            <input type="hidden" val="0" id="hide_values">
            <li>
                <a id="general_info" class=" iconfont icon-changyongshoukuanrenguanli" href="?m=admin&c=GeneralInfo&a=index">
                    <span>常用信息</span>
                </a>
            </li>
            <li>
                <a id="pass_manager" class=" icon icon-protect" href="?m=admin&c=PasswdManager&a=index">
                    <span>密码管理</span>
                </a>
            </li>
            <li>
                <a id="category_manager" class=" icon icon-format" href="?m=admin&c=CategoryManager&a=index">
                    <span>分类管理</span>
                </a>
            </li>
            <li>
                <a id="platform_manager" class=" icon icon-score" href="?m=admin&c=PlatformManager&a=index">
                    <span>平台管理</span>
                </a>
            </li>
            <li>
                <a id="account_manager" class=" icon icon-users" href="?m=admin&c=AccountManager&a=index">
                    <span>账号管理</span>
                </a>
            </li>
            <li>
                <a id="icon_depository" class="icon icon-list" href="?m=admin&c=IconManager&a=index">
                    <span>图标管理</span>
                </a>
            </li>
            <li>
                <a id="db_manager" class="iconfont icon-cc-database" href="?m=admin&c=DbManager&a=index">
                    <span>数据库管理</span>
                </a>
            </li>
            <li>
                <a id="rsa_key_manager" class="icon icon-verify" href="?m=admin&c=RSAKeyManager&a=index">
                    <span>RSA密钥管理</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="ps-scrollbar-x-rail" style="width: 250px; display: none; left: 0px; bottom: 3px;">
        <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 607px; display: inherit; right: 0px;">
        <div class="ps-scrollbar-y" style="top: 0px; height: 560px;"></div>
    </div>
</div>
<{/if}>

<input type="hidden" id="slidebar_state_flag" value="<{$data.slideBarState}>"/>

<!--添加按钮-->
<button type="button" class="add-btn" onclick="addData()">
    <img src="<{$data.imageUrl}>add.png">
</button>

<{block name="content"}><{/block}>
</body>
</html>
<script src="<{PUBLIC_PATH}>common/layui/layui.js" charset="utf-8"></script>
<script src="<{PUBLIC_PATH}>common/js/jquery.2.js" type="text/javascript"></script>
<script src="<{PUBLIC_PATH}>common/js/jsencrypt.min.js" type="text/javascript" ></script>
<script src="<{PUBLIC_PATH}>common/js/RSAEncrypt.js" type="text/javascript" ></script>
<script src="<{PUBLIC_PATH}>common/js/cookie.js" type="text/javascript" ></script>
<script src="<{PUBLIC_PATH}>common/js/common.js"  type="text/javascript"></script>
<script src="<{PUBLIC_PATH}>admin/js/common.js"  type="text/javascript"></script>
<script src="<{PUBLIC_PATH}>common/js/sidebar.js" type="text/javascript"></script>
<{block name="scriptCode"}><{/block}>



