<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .card-content {
        width: 20%;
    }

    .text-content {
        top: 20px;
        left: 20px;
    }

    .card-title {
        margin-bottom: 10px;
    }

    .card-title span {
        display: inline-block;
        width: 30px;
        height: 15px;
        line-height: 15px;
        color: #FFF;
        text-align: center;
        border-radius: 3px;
    }

    .card-title span:hover {
        color: #FFF;
    }

    .card-title .remark-span {
        font-size: 10px;
        color: #9F9F9F;
        display: inline-block;
        margin-left: 15px;
        width: 50px;
        text-align: left;
    }

    .card-title .remark-span:hover {
        color: #393D49;
    }

    .safe-level-low {
        color: #FFF;
        background: #FF0000;
    }

    .safe-level-mid {
        color: #FFF;
        background: #FFA500;
    }

    .safe-level-high {
        color: #FFF;
        background: #FFD700;
    }

    .safe-level-best {
        color: #FFF;
        background: #008000;
    }

</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    var cardDoms = "";
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        var catId = $("#cat_id").val();
        $("#cat_" + catId).addClass("active");

        // 获取常用信息列表
        loadGeneralInfoList();
    });

    // 获取常用信息列表
    function loadGeneralInfoList() {
        // 清空
        cardDoms = "";

        var url = baseUrl + "?m=admin&c=API_GeneralInfo&a=loadGeneralInfoList&API=";
        console.log("请求常用信息:" + url);
        get(url, function (data) {
            // 创建常用信息数据卡片
            createGInfoCards(data.data);

            // 请求备用密码数据
            loadPassLists();
        });
    }

    // 请求备用密码数据
    function loadPassLists() {
        var url = baseUrl + "?m=admin&c=API_PassManager&a=loadPassList&API=";
        console.log("请求密码数据:" + url);
        get(url, function (data) {
            // 创建密码数据卡片
            createPassCards(data.data);
            console.log("密码s数据:" + JSON.stringify(data.data));
        },false);
    }

    // 创建常用信息数据卡片
    function createGInfoCards(infoList) {
        var dom = "";
        dom += '<div class="platform-container">';
        dom += '<h4 class="text-gray" style="display: inline-block;">';
        dom += '<i class="iconfont icon-tag" id=""></i>常用信息</h4>';
        dom += '<div class="row">';
        for (var i = 0; i < infoList.length; i++) {
            var passData = infoList[i];
            var passId = passData["id"];
            var passDesc = passData["info_desc"];
            var passwd = passData["encrypt_info"];
            var remark = passData["remark"];

            dom += '<div class="card-content">';
            dom += '<a href="javascript:;" class="card-link" >';
            dom += '<div class="text-content"><div class="card-title">';
            dom += '<strong>' + passDesc + '</strong>';
            if (remark.length > 0){
                remark = "'" + remark + "'";
                dom += '<span class="remark-span" onclick="checkRemark('+ remark +')">备注</span>';
            }
            dom += '</div><input id="acc_pass_' + passId + '" style="width: 73%" type="password" class="user-pass" value="' + passwd + '" readonly="readonly">';
            dom += '<i flag="1" title="查看" passId="' + passId + '" pass="' + passwd + '" onclick="checkPasswd(this)" class="iconfont icon-Xtubiao-chakan"></i>';
            dom += '<i flag="1" title="复制" passId="' + passId + '" pass="' + passwd + '"  onclick="copyPasswd(this)" class="icon icon-reply"></i>';
            dom += '<input class="real-pass" type="text" id="real_pass_' + passId + '">';
            dom += '</div></a></div>';
        }
        dom += '</div></div>';

        cardDoms += dom;
    }

    // 创建密码数据卡片
    function createPassCards(passLists) {
        var dom = "";
        dom += '<div class="platform-container">';
        dom += '<h4 class="text-gray" style="display: inline-block;">';
        dom += '<i class="iconfont icon-tag" id=""></i>备用密码</h4>';
        dom += '<div class="row">';
        for (var i = 0; i < passLists.length; i++) {
            var passData = passLists[i];
            var passId = passData["id"];
            var passDesc = passData["pass_desc"];
            var passwd = passData["passwd"];
            var passLevel = parseInt(passData["pass_level"]);
            var safeLevelClass = getSafeLevelClass(passLevel);
            var safeTitle = getSafeTitle(passLevel);

            dom += '<div class="card-content">';
            dom += '<a href="javascript:;" class="card-link" >';
            dom += '<div class="text-content"><div class="card-title">';
            dom += '<strong>' + passDesc + '</strong><span id="safe_level" class="'+ safeLevelClass +'" title="安全等级">'+ safeTitle +'</span></div>';
            dom += '<input id="acc_pass_' + passId + '" style="width: 73%" type="password" class="user-pass" value="' + passwd + '" readonly="readonly">';
            dom += '<i flag="0" title="查看密码" passId="' + passId + '" pass="' + passwd + '" onclick="checkPasswd(this)" class="iconfont icon-Xtubiao-chakan"></i>';
            dom += '<i flag="0" title="复制密码" passId="' + passId + '" pass="' + passwd + '"  onclick="copyPasswd(this)" class="icon icon-reply"></i>';
            dom += '<input class="real-pass" type="text" id="real_pass_' + passId + '">';
            dom += '</div></a></div>';
        }
        dom += '</div></div>';

        cardDoms += dom;
        $(".cards-container").html(cardDoms);
    }
    
    // 获取安全的等级显示样式
    function getSafeLevelClass(level) {
        var safeClass = '';
        switch (level) {
            case 1:
                // 安全级别低
                safeClass = "safe-level-low";
                break;
            case 2:
                // 安全等级中
                safeClass = "safe-level-mid";
                break;
            case 3:
                // 安全等级高
                safeClass = "safe-level-high";
                break;
            case 4:
                // 安全等级最高
                safeClass = "safe-level-best";
                break;
            default:
                break;
        }
        return safeClass;
    }

    // 获取safetitle
    function getSafeTitle(level) {
        var safeTitle = '';
        switch (level) {
            case 1:
                // 安全级别低
                safeTitle = "低";
                break;
            case 2:
                // 安全等级中
                safeTitle = "中";
                break;
            case 3:
                // 安全等级高
                safeTitle = "高";
                break;
            case 4:
                // 安全等级最高
                safeTitle = "最高";
                break;
            default:
                break;
        }
        return safeTitle;
    }

    // 查看密码
    function checkPasswd(obj) {
        var $this = $(obj);
        var passId = $this.attr("passId");
        var passwd = $this.attr("pass");
        var passInput = $("#acc_pass_" + passId);
        var flag = $this.attr("flag");
        if (passInput.attr('type') == "text"){
            // 已经显示密码,隐藏密码

            // 请求密码密文
            var url = "";
            if (flag == "0"){
                url = baseUrl + "?m=admin&c=API_PassManager&a=loadPasswd&id=" + passId + "&API=";
            }else {
                url = baseUrl + "?m=admin&c=API_GeneralInfo&a=loadGInfo&id=" + passId + "&API=";
            }

            get(url,function (data) {
                var passData = data.data;
                passInput.attr("type","password");
                var encryptInfo = flag == "0" ? passData["passwd"] : passData["encrypt_info"];
                passInput.val(encryptInfo);
                $this.attr("class","iconfont icon-Xtubiao-chakan");
            },false);
        }else {
            // 显示密码
            passInput.attr("type","text");

            // 解密密码
            var decryptPass = RSADecryptPass(passwd);
            passInput.attr("type","text");
            passInput.val(decryptPass);
            $this.attr("class","iconfont icon-Xtubiao-guanbichakan");
        }
    }

    // 拷贝密码
    function copyPasswd(obj) {
        var $this = $(obj);
        var passId = $this.attr("passId");
        var passwd = $this.attr("pass");
        var passInput = $("#acc_pass_" + passId);
        var input = $("#real_pass_"+passId);

        // 解密
        var decryptPass = RSADecryptPass(passwd);
        input.val(decryptPass);
        // 复制密码
        copyInputContent(input,"密码已复制");
    }

    // 查看备注
    function checkRemark(remarkContent) {
        // 阻止默认事件
        var e = window.event || arguments.callee.caller.arguments[0];
        e.preventDefault();

        $(".add-category-box").css("display","block");
        $("#acc_remark").val(remarkContent);
    }

    // 点击备注查看界面浮层
    function clickCover() {
        $(".add-category-box").css("display","none");
    }
    // 点击备注内容防止浮层消失
    function clickRemarkContent() {
        // 阻止事件冒泡
        var e = window.event || arguments.callee.caller.arguments[0];
        e.stopPropagation();
    }

</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <input type="hidden" value="<{$data.catId}>" id="cat_id">
    <div class="cards-container">

    </div>
</div>

<!--查看备注浮层-->
<div class="add-category-box" onclick="clickCover()">
    <div class="add-category-container" onclick="clickRemarkContent()">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend id="legend_title">备注信息</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea readonly="readonly" style="resize: none;height: 200px" id="acc_remark" placeholder="暂无备注" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<{/block}>
