<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .layui-table {
        width: 220px;
        display: inline-block;
    }

    .icon-container {
        width: 100%;
    }

    .layui-form-pane .layui-form-label {
        background-color: #393D49;
        width: 50px;
    }

    .layui-form-pane .layui-form-label i {
        background-color: #393D49;
        margin-left: -5px;
        height: 25px;
        line-height: 25px;
    }


    .icon-input {
        border: none;
        width: 60px;
        height: 20px;
        line-height: 20px;
        cursor: default;
        background-color: transparent;
    }

    .icon-input:hover {
        background-color: transparent;
    }

    .icon-input::selection {
        background-color: transparent;
    }

</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        $("#icon_depository").addClass("active");
        // 隐藏右下角添加按钮
        $(".add-btn").css("display","none");

        layui.use("form", function () {
            var form = layui.form;

            var searchBar = $("#search_icon");
            searchBar.focus();
            // 搜索icon
            searchBar.bind("input propertychange", function (event) {
                loadIcons();
            });
        });

        // 加载icon
        loadIcons();
    });

    // 请求icon
    function loadIcons() {
        var kwds = $("#search_icon").val();
        kwds = kwds != undefined ? kwds : "";
        var url = baseUrl + "?m=admin&c=API_Icon&a=getIconDepository&API=&keyWords=" + kwds + "&API=";
        console.log("请求icon:" + url);
        get(url, function (data) {
            createIconDom(data.data);
        }, false)
    }

    // 创建icon显示
    function createIconDom(icons) {
        var dom = "";
        for (var i = 0; i < icons.length; i++) {
            var icon = icons[i];
            dom += '<table class="layui-table"><colgroup><col width="50"><col width="100"><col width="63"></colgroup>';
            dom += '<tbody><tr><td><i class="icon icon-' + icon + '" style="background-color:#393D49;"></i></td>';
            dom += '<td><input readonly="readonly" type="text" id="icon_'+ icon +'"  class="icon-input" value="' + icon + '"></td><td><a href="javascript:;" iconName="' + icon + '" onclick="copyIcon(this)" style="color: #2b77a8">复制</a></td></tr></tbody></table>';
        }
        $(".icon-container").html(dom);
    }

    // 拷贝icon
    function copyIcon(obj) {
        var $this = $(obj);
        var iconName = $this.attr("iconName");
        var inputDom = document.getElementById("icon_" + iconName);
        copyInputContent(inputDom);
    }

</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">

    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <i class="icon icon-search"></i>
            </label>
            <div class="layui-input-inline">
                <input id="search_icon" type="text" name="username" lay-verify="required" placeholder="输入icon名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
    <div class="icon-container">
    </div>
</div>
<{/block}>
